DATABASE_URL='postgres://postgres:123456@localhost:4444/clinic?encoding=utf8&pool=50&timeout=5000'
DATABASE_URL_PRODUCTION='postgres://postgres:12345@localhost:5432/clinic?encoding=utf8&pool=50&timeout=5000'
CLINIC_DATABASE_PASSWORD='12345'
AWS_ACCESS_KEY_BACKEND=nil
AWS_SECRET_KEY_BACKEND=hil
AWS_REGION=nil
AWS_BUCKET=nil
ADMIN_EMAIL=admin@example.com
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000

TWILIO_FROM_PHONE='+15856011494' 
TWILIO_TO_PHONE='+393513344216'
DEFAULT_FROM_EMAIL='support@clinic.com'
