.appointments-container {
  padding: 10px;
  background-color: #DADADA;
  h3 {
    font-weight: bold;
    font-size: 20px;
  }

  .no-appointments {
    padding-left: 20px;
  }

  .appointments {
    padding-left: 20px;
  }
}
