// app/assets/stylesheets/application.scss
// ...
@import "bootstrap";
// ...

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.lokale {
  display: flex;
  flex-direction: column;

}
.swich {
  // color: #BBBBBB;
  font-size: 10px;
  line-height: 2px;
}

// .container-bg {
//   background: #eee;
// }

body.light {
  background: #eee;
  color: black;
}

body.dark {
  background: black;
  color: white;
}

.ms-n5 {
  margin-left: -40px;
}

.search {
  margin-bottom: 15px;
}

.pagination {
  a {
      text-decoration: none;
      color: rgb(79, 150, 201);
  }

  .disabled, a {
      // margin-right: 1em;
      // border: 1px solid #ccc;
      // padding: .5em 1em;
      // background-color: #f3eded; /* Green */
      border: none;
      // border-radius: 12px;
      // color: blue;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      // font-size: 16px;
  }
}

// card
.card {
  border: none;
  border-radius: 10px
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center
}

.progress {
  height: 10px;
  border-radius: 10px
}

.progress div {
  background-color: red
}

.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}

// timer
.promotion__timer {
  width: 50%;

  .title {
    text-align: right;
  }

  .timer {
    margin-top: 60px;
    padding-left: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: timer-animation 1s infinite linear; // Add animation here
  }

  .timer__block {
    width: 102px;
    height: 120px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 300;
    text-align: center;

    span {
      display: block;
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 56px;
      font-weight: 700;
    }
  }
}

@keyframes timer-animation { /* Define animation properties here */
  from {
    transform: translateX(0); /* Start from right */
  }
  to {
    transform: translateX(-100%); /* Move offscreen to the left */
  }
}
