<p style="color: green"><%= notice %></p>
<div class="container shadow min-vh-100 py-4">
    <div class="search">
      <%= render 'partials/search_categories_form' %>
    </div>
    <div id="results">
      <%= render 'partials/categories', categories: @categories %>
    </div>
</div>
